body {
    margin: 0;
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    border-collapse: collapse;
}

#game-board td {
    border: gray solid 1px;
    width: 25px;
    height: 25px;
}

.snake {
    background-color: violet;
}